
<div class="d-flex justify-content-center">
  <img src="assets/marsundiscovered.png" class="img-fluid" alt="Mars Undiscovered Ship" />
</div>

<div class="pt-5">
  <p>You are consigned by a mining company to make an urgent delivery of a component to a mining facility on Mars. As you begin your landing approach, there is no response from the colony's operations team. Suddenly, alarms blare as your ship's AI detects an incoming projectile. An explosion rocks the ship! Thanks to the AI's quick deployment of counter-measures, the ship avoids a direct hit. However the ship still sustains damage from the close encounter.</p>

  <p>You have no choice but to make an emergency landing. Your ship's AI can repair the damage but lacks the necessary spare parts. It thinks you can find what you need in the mining facility. You step outside your ship and survey your surroundings. The mining facility seems to be completely devoid of activity. You steel yourself for what lies ahead and make your way to the mining colony where your fate, and perhaps the fate of humanity, awaits.</p>

  <h3 class="pt-4">About the Game</h3>
  <p>Mars Undiscovered is a sci-fi <a href="https://en.wikipedia.org/wiki/Roguelike">roguelike</a> game that takes place in a mining facility on the red planet. The game will feature classless character development inspired by Brogue - character advancement is done through itemisation as the player delves deeper into the mine. The game will also feature multiple win conditions, allowing players to weigh up the risk of proceeding further and achieving a higher score at the cost of dying and ending with a very low score.</p>

  <p>The game is designed with hosting weekly contests in mind. Weekly contests in roguelikes often do not work very well due to forks or branches in the dungeon, the length of the game, class systems which force you to play in a certain playstyle or builds that vary too much or too little. This game aims to provide a fun weekly context experience with a minimal or no branching map, games which last for no more than 3-4 hours and procedurally generated items with interesting choices for itemised builds.</p>

  <p>The game is currently playable but there's nothing to do besides taking the ship parts on level 2 and returning to the ship. Much of the core infrastructure, game utilities and core game features have been implemented such as save, load, view replay, moving, bumping, field of view, limited animations, map transition and enemy movement and attacking.</p>

  <h3 class="pt-4">Download</h3>
  <h5>Version 0.1.3 (04f9a2a) Released 31 March 2023</h5>
  <p class="pt-2">Windows x64: <a href="https://github.com/DavidFidge/MarsUndiscovered/releases/download/v0.1.3/MarsUndiscovered-windows-x86_64.zip">https://github.com/DavidFidge/MarsUndiscovered/releases/download/v0.1.3/MarsUndiscovered-windows-x86_64.zip</a></p>
  <p>Other platforms: The game is currently unavailable on other platforms however there is the potential of a Linux and MacOS release in the future.</p>
  <p>Other releases: <a href="https://github.com/DavidFidge/MarsUndiscovered/releases">https://github.com/DavidFidge/MarsUndiscovered/releases</a></p>
  <p>Release notes:</p>
    <ul>
      <li>Added graphical tiles and animations</li>
      <li>Added a game option to toggle between ascii and graphical tiles</li>
      <li>Changed ascii graphics from true type MonoGame SpriteFont rendered tile to use of a bitmap font and square 64x64 pixel tiles</li>
    </ul>
</div>

