
<div class="d-flex justify-content-center">
  <img src="assets/marsundiscovered.png" class="img-fluid" alt="Mars Undiscovered Ship" />
</div>

<div class="pt-5">
  <p>You were consigned by a mining company to make an urgent delivery of a component to a mining colony on Mars. Making your landing approach there’s no response from the mine’s operations personnel. Indicators start blaring and your ship AI reports an incoming projectile. An explosion! Thankfully your ship AI deployed counter-measures, but your ship has taken damage and you’re going to have to land. Your ship AI thinks the damage can be repaired, but you don't have the spare parts. You leave the ship, heading towards the mining colony where your fate awaits.</p>

  <p>Mars Undiscovered is a <a href="https://en.wikipedia.org/wiki/Roguelike">RogueLike</a> set on Mars in the early 22nd century. The game will feature classless character development inspired by Brogue - character advancement is done through itemisation as the player delves deeper into the mine. The game will also feature multiple win conditions, allowing players to weigh up the risk of proceeding further and achieving a higher score at the cost of dying and ending with a very low score.</p>

  <p>The game is designed with hosting weekly contests in mind. Weekly contests in roguelikes often do not work very well due to forks or branches in the dungeon, the length of the game being too long or class systems which force you to play in a certain playstyle. This game aims to provide a fun weekly context experience with a minimal or no branching map, games which last for no more than 3-4 hours and procedurally generated items with interesting choices for itemised builds.</p>

  <p>The game is currently playable but there's nothing to do besides taking the ship parts on level 2 and returning to the ship. However much of the core infrastructure, game utilities and core game features have been implemented such as save, load, view replay, moving, bumping, field of view, limited animations, map transition and enemy movement and attacking.</p>

  <h3 class="pt-4">Download Mars Undiscovered</h3>
  <h5>Version 0.1 (bb1d15a) Released 7 February 2023</h5>
  <p>Windows x64: <a href="https://github.com/DavidFidge/MarsUndiscovered/releases/download/v0.1/MarsUndiscovered-windows-x86_64.zip">https://github.com/DavidFidge/MarsUndiscovered/releases/download/v0.1/MarsUndiscovered-windows-x86_64.zip</a></p>

  <h3 class="pt-4">Other Platforms</h3>
  <p>The game is currently unavailable on other platforms however there is the potential of a Linux and MacOS release in the future.</p>

</div>

